.content {
    margin-left: 40px;
}

.date {
    color: #828282;
}

h1, h5 {
    color: #6d1f82;
}

.bloco {
    background-color: #6d1f82;
}

.rodape {
    background-color: #6d1f82;
}
